body{
    margin: 0%;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    background: linear-gradient(to right, #66eadf, #4b85a2);
}

.container{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #667eea;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    background-color: #5a67d8;
    transform: scale(1.05);
}